@import '../../styles/_variables.scss';

.products {
  background-color: $white;
  padding: $base;
  
  & .product {
    padding: $base;
    border-bottom: 1px solid $neutral;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: inherit;
    text-decoration: none;

    &:last-child {
      border: 0;
    }
    
    .location {
      margin-left: auto;
    }
  }
}