@import '../../utils/_variables.scss';

.breadcrumb {
  list-style: none;
  display: flex;

  &-item {
    margin-right: $base;
    color: $title;

    :hover {
      color: $text;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}