@import '../../styles/_media-queries.scss';
@import '../../styles/_variables.scss';

.product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;

  @include for-desktop-up {
    flex-direction: row;
  }

  .photo {
    text-align: center;

    @include for-desktop-up {
      width: 50%;
    }
  }

  .info {
    margin: calc($base * 3) 0;

    @include for-desktop-up {
      width: 30%;
    }

    .title {
      margin: calc($base * 3) 0;
    }

    .price {
      font-size: 40px;
      margin: calc($base * 2) 0;

      span + span {
        font-size: 16px;
        vertical-align: super;
      }
    }
  }

  .button {
    background-color: $blue;
    border: 0;
    border-radius: 6px;
    width: 100%;
    color: $white;
    padding: calc($base * 2) 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: darken($blue, 20%);
    }
  }

  .description {
    margin-top: calc($base * 3);
    width: 70%;

    p {
      margin-top: calc($base * 2);
      color: darken($neutral, 20%);
    }
  }
}