@import '../../utils/_media-queries.scss';
@import '../../utils/_variables.scss';

.header {
  background-color: $primary;
  padding: calc($base * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;

  &-logo {
    width: 80px;
    height: auto;
  }

  @include for-desktop-up {
    flex-direction: row;
  }

  .form {
    display: none;
    width: 100%;

    &.is-open {
      display: flex;
    }

    @include for-desktop-up {
      display: flex;
      align-items: center;
      width: 960px;
    }

    &-input-control {
      width: 100%;
    }

    &-input {
      width: 100%;
      padding: $base;
      border: 0;
      outline: 0;
    }

    &-button {
      width: 30px;
      height: 30px;
      border: 0;
      padding: 0;
      background-color: $neutral;
      cursor: pointer;

      > .icon-search {
        width: 16px;
        height: 16px;
      }
    }
  }
}