// _screen-sizes
$tablet: 1024px;
$mobile: 568px;
$desktop: 1280px;

@mixin for-phone-only {
  @media (max-width: $mobile) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: $tablet) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: $desktop) { @content; }
}